* {
  -webkit-font-smoothing: antialiased;
}

.create-board-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* remove background color once modal is set up */
  background-color: #7e7e7e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 540px;
}

.create-board-form-box {
  background-color: #FFF;
  border-radius: 16px;
  width: 100%;
}

.create-board-header {
  font-size: 28px;
  padding: 5px;
  width: 100%;
  text-align: center;
  padding: 32px 0;
}

.create-board-name-container, 
.create-board-secret-container,
.create-board-cancel,
.create-board-submit {
  padding: 0 32px;
  margin-bottom: 32px;
}

.create-board-input-title {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}

.create-board-name-input {
  box-sizing: border-box;
  border: 2px solid #ddd;
  font-weight: 400;
  font-size: 16px;
  border-radius: 16px;
  padding: 8px 16px;
  min-height: 48px;
  width: 100%;
}

.create-board-name-input:focus {
  box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
  outline: none;
}

.create-board-name-container p {
  margin-top: 8px;
}

.create-board-secret {
  font-size: 20px;
  font-weight: 700;
}

.create-board-secret-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.secret-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  /* height: 34px; */
  height: 24px;
}

.secret-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.secret-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  /* background-color: rgba(145, 0, 223, 0.2); */
  transition: .4s;
  border-radius: 48px;
}

.secret-slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  background-color: #fff;
  transition: .4s;
  border-radius: 50%;
  border: 1px solid #ccc;
}

input:checked + .secret-slider {
  background-color: #9100df;
}

input:focus + .secret-slider {
  box-shadow: 0 0 1px #9100df;
}

input:checked + .secret-slider:before {
  transform: translateX(17px);
  border: 1px solid #9100df;
}

.create-board-secret-container p {
  font-size: 17px;
  font-weight: 400;
  color: #767676;
}

.create-board-submit-container {
  display: flex;
  justify-content: flex-end;
}

.create-board-submit {
  cursor: pointer;
  height: 40px;
  letter-spacing: -0.4px;
  background-color: #9100df;
  border-radius: 8px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  border: none;
}

.create-board-submit.disable {
  background-color: #efefef;
  cursor: initial;
}

.edit-board-form {
  text-align: center;
  background-color: #bbb1b1;
  padding: 10px;
  border-radius: 5px;
}

