.pin-index-container {
  margin-top: 28px ;
  /* width: 100vw; */
  /* display: flex; */
}

.grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 5px;
}

.grid-item {
  margin: 10px;
  width: 250px;
} 

.grid-item-content {
  
}

.create-pin-button {
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 0.5px;
  margin: 22px 13px;
  outline: none;
}

.create-pin-button:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.fa-plus {
  color: #333333;
  font-size: 18px;
}

